$dark_color: #3c3c3c; 

$white_color: #fff;

$main_color: $dark_color;
$secondary_color: $white_color;

$main_font: 'Lato', sans-serif;

$heading_size_h1: 54px;
$heading_size_h2: 34px;
$heading_size_h3: 20px;

$text_lg: 16px;
$text_md: 15px;
$text_sm: 14px;