* {
	margin: 0;
	padding: 0;
}
.first_scrn {
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: f9f8fb;
	background-image: url("../img/first.png");
	background-position: 50%;

	&__a {
		display: block;
	}

	&__ul {
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-self: flex-center;
		margin-bottom: 0;
	}

	&__li {
		margin-right: 20px;
		text-transform: uppercase;
	}

	&__a {
		color: $dark-color;
		&:hover {
			color: $first_scrn;
			text-decoration: none;
		}
	}
	
	&__logo {
		background: url("../img/logo.png");
		background-repeat: no-repeat;
		width: 126px;
		height: 52px;
		display: block;
		&:hover {
			background: url("../img/logo_hover.png");
			background-repeat: no-repeat;
		}
	}


}




.container {
	height: 100vh;
}