@font-face {
	font-family: Museo;
	src:url("../fonts/MuseoSansRounded-100.otf");
}

*, h1 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #b3b3b7;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

}
.container {
	width: 800px;
	height: 600px;
	margin: 0 auto;
	background-color: #b3b3b7;
	background-image: url("../img/Layer_5.png");
	background-position: -429px -604px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.main-container {
	width: 685px;
	height: 390px;
	background-color: #111a28;
}
.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}
a {
	display: block;
}
a.logo {
	margin-bottom: 50px;
}
a > img {
	height: 35px;
	width: 65px;
}
.main-photo {
	padding: 20px;
	max-width: 65%;
	float: left;
}
.main-text {
	float: right;
	max-width: 35%
}
.photo {
	padding-left: 16px;
}
.sliders {
	list-style: none;
	display: inline-block;
}
.sliders li {
	display: inline-block;
}
.grey {
	border: 7px solid #1f273f;
    border-radius: 50%;
}
.active {
	border: 9px solid;
    border-radius: 50%;
    border-color: #7c8189;
}
.white {
	border: 7px solid #1f273f;
    border-radius: 50%;
}