@font-face {
	font-family: Museo;
	src:url("../fonts/MuseoSansRounded-100.otf");
}

*, h1 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #b3b3b7;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

}
.container {
	width: 800px;
	height: 600px;
	margin: 0 auto;
	background-color: #b3b3b7;
	background-image: url("../img/Layer_5.png");
	background-position: -429px -604px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.main-container {
	width: 685px;
	height: 390px;
	background-color: #111a28;
	padding: 20px;
}
.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}
a {
	display: block;
}
a > img {
	height: 35px;
	width: 65px;
}
.main {
	max-width: 50%;
	float: left;
	font-family: "Museo";

}
.info {
	display: flex;
	justify-content: center;
	align-items: center;
}
.h1 {
	color: #fff;
}
.p {
	color: #e1e1e1;
}

.logo {
	margin-bottom: 65px;
}
.text	{
	max-width: 50%;
	float: right;
}