.first-screen {
	padding-top: 35px;
	min-height: 100vh;
	background-image: url($img-path + 'DeathtoStock_Wired7.jpg');
	background-repeat: no-repeat;
	background-size: cover;



	&::after {
		content: "";
		display: block;
		position: absolute;
		z-index: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;;
		background-color: rgba($violet,.3);
	}

	&__navbar {
		



		@include max991 {
			flex-direction: column;	
			align-items: center;
			background-color: rgba($dark-grey, .5);
			min-width: 150px;
			position: absolute;
			right: 0px;
			top: 56px;
			@include min576 {
				right: -39%;
			}

			@include min768 {
				right: 0;
			}
			

		}




	}
	
	&__link {
		display: inline-block;
		cursor: pointer;
	}



	&__navbar-li {
		font-family: 'ProximaSemi';
		font-size: 1.5rem;
		text-transform: uppercase;
		color: $white-color;
	}

	&__padding{
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title > h1 {
		text-transform: uppercase;
		font-family: 'Proxima';
		font-size: 2rem;
		color: $white-color;
		letter-spacing: 10px;
		margin-bottom: 20px;

		@include min576 {			
			font-size: 2.5rem;

		}
		@include min992 {			
			font-size: 3.5rem;

		}
		@include min1367 {
			font-size: 4.5rem;

		}

		
	}


	&__text {
		font-family: 'PT Sans';
		font-style: italic;
		font-weight: 400;
		font-size: 1.1rem;
		color: $white-color;
		letter-spacing: 2px;

		@include min576 {			
			font-size: 1.4rem;

		}
		@include min768 {			
			font-size: 1.6rem;

		}
		@include min1367 {
			font-size: 1.875rem;

		}

		
	}
}

.bg {
	position: relative;
	z-index: 2;

}

.menu {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10; 
	top: 40px;

	&.scroll {
		max-height: 80px; 
		top: 0;
		background-color: rgba($dark-grey, .5);

	}

	@include min992 {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}

}


