.first-screen {
	padding-top: 35px;
	min-height: 100vh;
	max-height: 100vh;
	background-image: url($img-path + 'DeathtoStock_Wired7.jpg');
	background-repeat: no-repeat;
	background-size: cover;



	&::after {
		content: "";
		display: block;
		position: absolute;
		z-index: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;;
		background-color: rgba($purpur,.3);
	}

	&__navbar {
		display: flex;
		justify-content: space-between;

	}
	
	&__link {
		display: inline-block;
		cursor: pointer;
	}

	&__navbar-li {
		font-family: 'ProximaSemi';
		font-size: 1.5rem;
		text-transform: uppercase;
		color: $white-color;
		
	}

	&__padding{
		padding-top: 20%;
	}

	&__title {
		text-transform: uppercase;
		font-family: 'Proxima';
		font-size: 4.5rem;
		color: $white-color;
		letter-spacing: 10px;
		margin-bottom: 20px;
		
	}


	&__text {
		font-family: 'PT Sans';
		font-style: italic;
		font-weight: 400;
		font-size: 1.875rem;
		color: $white-color;
		letter-spacing: 2px;
		
	}
}

.bg {
	position: relative;
	z-index: 2;
}