.navbar {
	background-color: none;
}
.navbar-light .navbar-nav .nav-link {
	color: $white-color;
	&:hover {
		color: $violet;
	}
}

.navbar-collapse {
	min-width: 150px;
	text-align: right;
	text-align:-moz-right;
	
}
